@font-face {
    font-family: hela;
    src: url(./Helvetica.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: hela;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
#nav{ 
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:40px;
    font-size: small;
    color: rgb(245, 247, 248);
}
#nav h1{
    font-weight: lighter;
    height: 15%;
}
#main{
    color: aliceblue;
    height: 80%;
}
#main h1{
    display: flex;
    justify-content: center;
    padding-top: 45px;
    font-size: 75px;
    font-weight: lighter;
}
#main h4{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: lighter;
}
#b1{
    position: absolute;
    left: 45%;
}
#b2{
    position: absolute;
    left: 52%;
}
#main button{
    border-radius: 50px;
    padding: 10px;
    margin-top: 20px;
    background-color: royalblue; 
    color: white;
}
#imu{
    position: absolute;
    left: 30%;
    top: 42%;
    
}
#footer{
    height: 10%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#nav h2{
    margin-top: 15px;
}
