@font-face {
    font-family:helva;
    src: url(./Helvetica.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helva;
    color: black;
}
html,body{
    height: 100%;
    width: 100%;
    background: rgb(168, 140, 109);
}
#sec{
    height: 20px;
    padding: 30px;
    font-size: 30px;
}
#sec>a{
    margin-left: 20px;
    text-decoration: none;
    color: black;
}
#beg>a{
    position: absolute;
    margin-left: 45%;
    text-decoration: none;
    color: black;
    font-size: 50px;
    top: 20px;
}
#secc{
    position: absolute;
    right: 4%;
    font-size: 30px;
    margin: -25px;
}
#secc>a{
    padding: 15px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
}
#heading{
    font-size: 250px;
    margin-left: 20px;
}
#footer{
    position: absolute;
    bottom: 20px;
    padding-left: 30px;
}
#footer>a{
    text-decoration: none;
    position: absolute;
    right: -510%;
    bottom: 15%;
    font-size: 30px;
    color: black;
}
#para{
    position: absolute;
    bottom: 20%;
    width: 300px;
    padding-left: 30px;
}
.i{
    height: 300px;
    width: 200px;
}
#i1{
    position: absolute;
    right: 34%;
    bottom: 25%;
}
#i2{
    position: absolute;
    right:45%;
    bottom: 15%;
}
#i3{
    position: absolute;
    right:57%;
    bottom: 20%;
}


